@charset "utf-8";
/* CSS Document */
.container{background-color:#666666;}
.linktext{font-family":"Arial Black", Gadget, sans-serif; font-size:18px;color:#CCC;margin-top:20px;}
.paddingbottom{padding-bottom:50px;}
#link1text1,#link1text2,#link1text3,#link1text4{display:none;}


