@charset "utf-8";
/* CSS Document */
.container{background-color:#666666;}
.linktext{font-family":"Arial Black", Gadget, sans-serif; font-size:18px;color:#CCC;margin-top:20px;}
.paddingbottom{padding-bottom:50px;}



